<h2>login</h2>

<form action="/login" method="post">
  <label>email</label>
  <input type="text" name="email" value="" />

  <label>password</label>
  <input type="password" name="password" />

  <button>login</button>
</form>
