<h2>Login</h2>

<form class='login' action="/login" method="post">
  <label>Email</label>
  <br>
  <input type="text" name="email" value="" />
  <br>
  <label>Password</label>
  <br>
  <input type="password" name="password" />
  <br>
  <button>Login</button>
</form>
