<div>

  <% @musicians.each do |musician| %>

  <div class='display'>
    <p><a href="/musicians/<%= musician['id'] %>"><%= musician['name'] %></a></p>
    <p><%= musician['instruments'] %></p>
    <p><%= musician['location'] %></p>
  </div>

  <% end %>

</div>
