<h2>Enter Band Details</h2>

<form action="/register" method="post">
  <label>Band Name</label>
  <input type="text" name="bandname">
  <label>Genre</label>
  <input type="text" name="genre">
  <label>Bio</label>
  <textarea type="text" name="bio"></textarea>
  <label>Location</label>
  <input type="text" name="location">
  <label>Musician/'s Your Band Looking For</label>
  <input type="text" name="lookingfor">
  <label>YouTube</label>
  <input type="text" name="youtube">
  <label>SOUNDCLOUD</label>
  <input type="text" name="soundcloud">
  <label>BANDCAMP</label>
  <input type="text" name="bandcamp">
  <button>Register</button>
</form>
