<h2>Enter Your Details</h2>

<form action="/signup" method="post">
  <label>Name</label>
  <br>
  <input type="text" name="name">
  <br>
  <label>Username</label>
  <br>
  <input type="text" name="username">
  <br>
  <label>Email</label>
  <br>
  <input type="text" name="email">
  <br>
  <label>Password</label>
  <br>
  <input type="password" name="password">
  <br>
  <label>Instrument/'s You Play</label>
  <br>
  <input type="text" name="instruments">
  <br>
  <label>About You</label>
  <br>
  <textarea type="text" name="bio"></textarea>
  <br>
  <label>Your Location</label>
  <br>
  <input type="text" name="location">
  <br>
  <label>YouTube</label>
  <br>
  <input type="text" name="youtube">
  <br>
  <label>SOUNDCLOUD</label>
  <br>
  <input type="text" name="soundcloud">
  <br>
  <label>BANDCAMP</label>
  <br>
  <input type="text" name="bandcamp">
  <br>
  <button>Sign Up</button>
</form>
